* {
  background-color: #3A3335;
  font-family: Tahoma;
  color: #FDF0D5;
  max-width: 800px;
  text-align: center;}

header {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;}

h3 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;}

footer {
  color: #92828D;
}

div#results {
  color: #FF3A20;
  font-weight: bold;
}

nav#centerDiv {
  max-width: 800px;
  border: 1px solid #FF3A20;}

ul, ol {
  list-style-position: inside;}

ul.centerUL {
  margin: 2px auto;
  line-height: 1.4;}

.centerUL li {
  display: inline;
  text-align: center;
  font-size: .8em
  }

a {
  color: #C6D8D3;
  text-decoration: none;}

a:hover {
  color:#FF3A20;
  text-decoration: none;}

h1 {
  font-family: Garamond;
  color: #FF3A20;}

h2 {
  font-family: Garamond;
  color: #92828D;
  font-style: italic;
  font-size: 1em;}

button {
  background-color: #C6D8D3;
  color: #3A3335;
}
